body {
  background-color: #ff8243;
  font-family: "Noto Sans", sans-serif;
  font-family: "Rubik", sans-serif;
  /* --color-foreground: #080402; */
}

/* @media (prefers-color-scheme: dark) {
  body {
    --color-background: #efefef;
    --color-foreground: #1f2023;
  }
} */

/* 
.react-toggle {
  display: flex;
  flex-direction: row;
} */

.main-header {
  text-align: center;
  color: #347c2c;
  padding-top: 10px;
}

.instructions {
  text-align: center;
}

.mango-name {
  text-align: center;
}

.photo-container {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

#mango-photo {
  object-fit: contain;
  object-position: top;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.description-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  width: 500px;
  height: 100px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  border-radius: 9999px;
  border-width: 2px;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #080402;
  background: transparent;
}

@media (max-width: 500px) {
  .photo-container {
    height: 300px;
    width: 300px;
  }

  .instructions {
    display: none;
  }

  .description-container {
    width: 300px;
  }
}
