body {
	background-color: black;
	font-family: sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	color: white;
}

.main-header {
	text-align: center;
	color: rgba(59, 130, 246);
	padding-top: 10px;
}

.mango-name {
	text-align: center;
}

.photo-container {
	height: 500px;
	width: 500px;
	margin: 0 auto;
}

#mango-photo {
	object-fit: cover;
	object-position: top;
	height: 100%;
	width: 100%;
}

.description-container {
	text-align: center;
	align-self: center;
	padding-bottom: 10px;
	width: 95%;
}

.button-container {
	display: flex;
	justify-content: space-evenly;
}

.btn {
	border-radius: 9999px;
	border-width: 2px;
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 1.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: white;
	background: transparent;
}

@media (max-width: 500px) {
	.photo-container {
		height: 300px;
		width: 300px;
	}
}
